
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h1 >Chào mừng đến với trang chủ Admin</h1>
    <img src ="~/Images/bieu-tuong-nganh-y-te.jpg" style="width:35%;" />
</div>
