
@{
    ViewData["Title"] = "Kế toán";
    Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
}

<div class="text-center">
    <h1>Chào mừng đến với trang chủ kế toán</h1>
    <img src="~/Images/bieu-tuong-nganh-y-te.jpg" style="width:35%;" />
</div>

