
@{
    ViewData["Title"] = "Nhân viên";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<div class="text-center">
    <h1>Chào mừng đến với trang chủ nhân viên</h1>
    <img src="~/Images/bieu-tuong-nganh-y-te.jpg" style="width:35%;" />
</div>

