@{
    ViewData["Title"] = "Thêm bệnh nhân";
    ViewData["Title"] = "Bệnh nhân";
    if (ViewBag.Session == "Ad".ToLower().Trim())
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.Session == "KT".ToLower().Trim())
    {
        Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
    }
}

<!-- [ breadcrumb ] start -->

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">

                </div>
                <ul class="breadcrumb">
@*                    <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>*@
                    <li class="breadcrumb-item"><a href="@Url.Action("BenhNhan")">Bệnh nhân</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("ThemBenhNhan")">Thêm bệnh nhân</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Thêm mới bệnh nhân</h5>
        </div>
        <div class="card-body">
            <h5>Bệnh nhân</h5>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm("ThemBenhNhan", "BenhNhan", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Số CMND</label>
                            <input type="text" class="form-control" name="_sSoCMND">
                        </div>
                        <div class="form-group">
                            <label>Họ tên</label>
                            <input type="text" class="form-control" name="_sHoTen">
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input type="date" class="form-control" name="_dNgaySinh">
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <input type="text" class="form-control" name="_sGioiTinh">
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control" name="_sSDT">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Địa chỉ</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="_sDiaChi"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Phòng khám</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="_nPhongKham"
                                    asp-items="@(new SelectList(ViewBag.InfoDepartment,"Value", "Text"))"></select>
                        </div>
                        <div class="form-group">
                            <label>Ngày khám</label>
                            <input type="date" class="form-control" name="_dNgayKham">
                        </div>
                        <input type="submit" value="Lưu" class="btn btn-primary feather icon-save">
                        <a asp-controller="BenhNhan" asp-action="BenhNhan" class="btn btn-outline-secondary feather icon-corner-down-right">     Trở về</a>
                    }
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <img src="~/Images/test_102328.png" alt="" style="width:50%; margin-left:130px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if (TempData["mgs"] != null)
    {
        <script>
                    alert(@TempData["mgs"]);
        </script>
    }
}


