
@{
    ViewData["Title"] = "Thêm chi phi";
    if (ViewBag.Session == "Ad".ToLower().Trim())
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.Session == "KT".ToLower().Trim())
    {
        Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
    }
}


<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">

                </div>
                <ul class="breadcrumb">
                    @*<li class="breadcrumb-item"><a href="@Url.Action("KeToan")"><i class="feather icon-home"></i></a></li>*@
                    <li class="breadcrumb-item"><a href="@Url.Action("ChiPhi")">Chi phí</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("ThemChiPhi")">Thêm chi phí</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Thêm chi phí khám bệnh</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm("ThemChiPhi", "ChiPhi", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label>Tên chi phí</label>
                            <input type="text" class="form-control" name="_sTenCP">
                        </div>
                        <input type="submit" value="Lưu" class="btn btn-primary feather icon-save">
                        <a asp-controller="ChiPhi" asp-action="ChiPhi"
                           class="btn btn-outline-secondary feather icon-corner-down-right">     Trở về</a>
                    }
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <img src="~/Areas/assets/images/test_102328.png" alt="" style="width:50%; margin-left:130px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>